@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = null;
}


<div class="text-center text-danger" style="padding:10% 0;">
    <h1 class="error">Error !</h1>
    <h2 class="error">An error occurred while processing your request.</h2>
</div>
