@{
    ViewBag.Title = "Test Page";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<script src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
<script type="text/javascript">

    function PostData() {
        debugger;
        var posturl = "http://72.167.225.87/Testing_NMSWP/upswp_niveshmitraservices.asmx";
        $.ajax({
            type: "POST",
            url: "@Url.Action("TestPage", "Account")",
            dataType: "json",
            data: JSON.stringify({ Url: posturl }),
            contentType: "application/json; charset=utf-8",
            success: function (res) {

                // alert(res);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log("XML: not working! " + xhr.statusText);
            }
        });

    }
</script>

@using (Html.BeginForm("TestPage", "Account", FormMethod.Post, new { @id = "frmTestPage",@style="height:520px;" }))
{
    @Html.AntiForgeryToken()

    
    @*<div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Control ID:</label>
                <input type="text" id="TxtControlID" name="TxtControlID" value="UPSWP200001747" class="form-control" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Unit ID:</label>
                <input type="text" id="TxtUnitID" name="TxtUnitID" value="UPSWP20000174701" class="form-control" />
            </div>
        </div>

    </div>
    
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Service ID:</label>
                <input type="text" id="TxtServiceID" name="TxtServiceID" value="SC33001" class="form-control" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>ProcessIndustry ID:</label>
                <input type="text" id="TxtProcessIndustryID" name="TxtProcessIndustryID" value="20000174701330010001" class="form-control" />
            </div>
        </div>

    </div>
    
    *@
<div class="row">


                         
        <div class="col-md-4">

            <a href="@Url.Action("TestPage", "Account", new { Post="",tatt="", sessionkey="Zyw6OA0k9TvnWS78GOPac2KU6wZBEm/Xv+5PV6DIafb6P/9a6nhAOXmern38gJepeLhow95EDzVyEWubjP5UG+zjSbegNNjK7wZW/5+j9IoqnAHkX0txA1y0bULuvY1nRoV4lYWJckq+LBB1RlCNhB/escllPlp3L+CU/DUT0iX/AS2XeL8kNfF9bwK+XoUVLrJElGspBmZHw3tX4Vk0yTGJmNYZXXxcdeLRt/0ie1ZO7y7PmKQ67yPhREZcR6Z7GPmCw8bdSzX9qMHTW5NjQqtXCTXe4crT98BFyAC729Z0wd9IwhoMCluJ+QxzNxVfhROSN1gkIsdg2sJm9Jy6XkNtrxDiQyq21SEM8Y6aatQ="})" class="btn btn-primary" > Send User Detail</a>
            <input type="submit" id="btnSubmit" value="User Register" class="btn btn-primary" />
             <ul>
                <li></li>
            </ul>
        </div>
    </div>
    
}
