<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CCSHealthFamilyWelfareDept.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <dataConfiguration defaultDatabase="CMSModule"/>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-CCSHealthFamilyWelfareDept-20180409170650;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-CCSHealthFamilyWelfareDept-20180409170650.mdf" providerName="System.Data.SqlClient"/>
    <!--<add name="CMSModule" connectionString="Data Source=DESKTOP-L4IEVPL\SQLEXPRESS;Initial Catalog=uphfwd_new; User ID=sa;Password=sa123;" providerName="System.Data.SqlClient"/>-->
    <add name="CMSModule" connectionString="Data Source=DESKTOP-9QONA1P\SQLEXPRESS;Initial Catalog=UPHFWD_Nivesh;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <add name="MailServer" connectionString=""/>
    <add name="FromMail" connectionString=""/>
    <add name="copyMail" connectionString=""/>
    <add name="MailUserID" connectionString=""/>
    <add name="MailUserPWD" connectionString=""/>
    <add name="ServerName" connectionString="Medical Health and Family Welfare Department"/>
    <add name="BCCMail" connectionString=""/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="PasswordLife" value="90"/>
    <add key="AllowedMaxWrongAtt" value="5"/>
    <add key="MaxAllowedSMS" value="5"/>
    <add key="IsDigitalSign" value="N"/>
    <add key="AllowEDistrict" value="Y"/>
    <add key="Dept_Code" value="33"/>
    <!--<add key="UPSwpNiveshMitraServicesBackUrl" value="https://niveshmitra.up.nic.in/nmmasters/Entrepreneur_Bck_page.aspx"/>-->
    <add key="UPSwpNiveshMitraServicesBackUrl" value="http://72.167.225.87/testing_nmswp/nmmasters/Entrepreneur_Bck_page.aspx"/>
    <add key="UPNiveshMitraEncrptionKeyForBackButton" value="ylrzH/9vqU5GNjzTxeGH8WNvBF3O41/a4YWAe6axd40="/>
    
    <add key="UPSwpNiveshMitraEncrptionKey" value="ABCDEFGHIJKLMNOP"/>
    <add key="DownloadShinedCertificateUrl" value="http://localhost:6411/"/>
    <add key="PassKey" value="md374bb8a5c915ba4b8963267crh4n6x"/>
    <add key="NUHCertiValidityStatusURL" value="http://localhost:6411/Public/ClericalNUH"/>
    <add key="rootUrl" value="http://localhost:6411"/>
    <!--<add key="EncDecKey" value="Z1BOfBXbVeuoUaqMvSk9JQ"/>-->
    <add key="EncDecKey" value="3K4M6P7Q8S2J3M"/>

	  <!--3.0 New Integration For Nivesh Mitra Start-->

	  <add key="NiveshMitraAuthenticateURL" value="https://72.167.225.87:4481/api/account/authenticate"/>
	  <add key="NiveshMitrauserName" value="2402153301"/>
	  <add key="NiveshMitrapassword" value="cQL2Oy1RYVsti00RrxA5"/>
	  <add key="NiveshMitraEncrptionKey" value="7MxJTr2339/2H/BwRN5nGnt6mOmSjMJ+Hh7aqyEaiGs="/>


	  <add key="NiveshMitragetRequestValidatedURL" value="https://72.167.225.87:4481/api/NMSWP/getRequestValidated"/>
	  <add key="NiveshMitraGetAppicationDetailURL" value="https://72.167.225.87:4481/api/NMSWP/getApplicantDetail"/>

	  <add key="ApplicationAcknowledgementURL" value="https://72.167.225.87:4481/api/NMSWP/returnApplicationAcknowledgement"/>
	  <add key="returnServiceStatusURL" value="https://72.167.225.87:4481/api/NMSWP/returnServiceStatus"/>


	  <!--3.0 New Integration For Nivesh Mitra End-->


	  <!--sms Setting 08/08/2023-->
    <!--<add key="User" value="ajaykashyap"/>
    <add key="AuthKey" value="923Sg5HQKDZXM"/>-->

    <!--<add key="User" value="UPDGMH"/>
    <add key="AuthKey" value="92nHRwgOCN0HU"/>-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8"/>
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.8" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880"/>
    </authentication>
    <globalization culture="en-GB" uiCulture="en-GB"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Optimization"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <!--Add by Bramh for Audit-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" maxQueryString="3276855"/>
        <verbs allowUnlisted="false">
          <add verb="GET" allowed="true"/>
          <add verb="POST" allowed="true"/>
          <add verb="HEAD" allowed="true"/>
        </verbs>
        <hiddenSegments>
          <add segment="NWebsecConfig"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <!--<remove name="Server"/>-->
        <remove name="X-Powered-By"/>
        <!--<add name="X-Frame-Options" value="SAMEORIGIN"/>-->
        <!--<add name="X-Powered-By" value="NA"/>
        <add name="Server" value="NA"/>-->
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <!--<add name="X-Frame-Options" value="DENY"/>-->
        <add name="X-XSS-Protection" value="1; mode=block"/>
        <add name="X-Content-Type-Options" value="nosniff "/>
        <add name="Access-Control-Allow-Methods" value="GET, POST, HEAD"/>
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <remove name="httptowwwredirection"/>
        <rule name="httptowwwredirection" enabled="false" stopProcessing="true">
          <match url="(.*)"/>
          <conditions logicalGrouping="MatchAny"/>
          <serverVariables/>
          <action type="Redirect" url="http://www.{HTTP_HOST}/{REQUEST_URI}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
  <applicationSettings>
    <CCSHealthFamilyWelfareDept.Properties.Settings>
      <setting name="CCSHealthFamilyWelfareDept_EDistrictSVC_Service" serializeAs="String">
        <value>http://164.100.181.28/DeptWebIntService/Service.asmx</value>
      </setting>
      <setting name="CCSHealthFamilyWelfareDept_UPHEALTHNIC_upswp_niveshmitraservices" serializeAs="String">
        <value>http://72.167.225.87/Testing_NMSWP/upswp_niveshmitraservices.asmx</value>
      </setting>
    </CCSHealthFamilyWelfareDept.Properties.Settings>
  </applicationSettings>
</configuration>