@{
    ViewBag.Title = "E-District Portal";

    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<style>
    .navbar, .top-footer, #textresizer { display:none;
    }
    .prodt-detail { min-height:278px;
    }
    .top-nav .time { padding-bottom:8px;
    }

</style>
<section style="margin-top:50px;">
    <div class="container prodt-detail">
      

       <div class="row">

@using (@Html.BeginForm())
    {
        { Html.EnableClientValidation(true); Html.EnableUnobtrusiveJavaScript(true); }
        <div>
            

            <br />
            @Html.AntiForgeryToken()&nbsp;
                @Html.ValidationSummary(true)
        </div>
    }
        </div>
    </div>
</section>
