@{
    ViewBag.Title = "isRegister";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="content-title">
    <h3 class="main-title">
        <strong>मेडिको लीगल प्रमाणपत्र डैशबोर्ड<span class="small">Medico-Legal Certificate  Dashboard</span></strong>
    </h3>
</div>
<div id="content" class="dashboard padding-90 margin-bottom-50">
    <div class="row">
        <div class="col-md-12">

            <div class="alert alert-warning">
                <h3 class="text-center">Citizen cannot apply directly for this service.
                </h3>
                <h3 class="text-center">Death Certificate is immediately issued by District Hospital, Community Health Center & Primary Health Center if death has occurs in the Hospital during treatment. 

                </h3>
            </div>
        </div>
    </div>
</div>

