@{
    ViewBag.Title = "RegistrationInstructions";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    .page-instraction {
        min-height:750px;
    }
</style>
<div class="content-title">
    <h3 class="main-title">
        <strong>चिकित्सा प्रतिपूर्ति <span class="small">Medical Reimbursement Instructions</span></strong>
    </h3>
</div>

<div id="content" class="dashboard padding-20 margin-bottom-50">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 page-instraction">
                            <h4>Procedure to Fill Application Form</h4>
                            <ul>
                                <li>1.	Before filling this form, Kindly arrange the Scan Copy of following documents ready with you:-
                                    <ul>
                                        <li>Bills of Expenditure</li>
                                    </ul>
                                    <strong>Note:- </strong>
                                    <ul>
                                        <li>All files should be uploaded in jpg/pdf format and maximum file size allowed up to (2MB)</li>
                                        <li>Fields marked with * are mandatory.</li>
                                    </ul>
                                </li>
                                <li>Your Application will be sent to the CMO/CMS of your current/last posting district. If the claimed amount is less than Rs.50000/- ,your application will be send to nearest District hospital otherwise it will be send to CMO office for processing.</li>
                                <li>Fill all the required fields & attached the relevant documents then click on “Save” button. </li>
                                <li>A preview page will appear, now check all the details carefully filled by you</li>
                                <li>If every details is correct & no change is required then click on “Submit” button.</li>
                                <li>After final submission of application form, Note down your Application  Reference number for future use.</li>
                                <li>You have to generate Appendix C and Certificate. After completing the formalities of appendix c and certificate, you have to submit it to your department. After completing departmental process, your department will sent this appendix c and certificate to  CMO/CMS office.</li>
                                <li>You will be redirected to the new window. You have two options in New Window, one is “Submit New Application” and “View application form Status” tab. </li>
                                <li>You can use “Submit New Application” tab to submit a new application form.</li>
                                <li>You can check the current status and print out of your application by clicking on the “View Submitted Application Status” </li>
                                <li>You can check the current status of your application by clicking on the “View Submitted Application Status”</li>
                            </ul>
                        </div>
                        <div class="col-md-6 page-instraction">
                            <h4>Terms & Conditions</h4>
                            <ul>
                                <li>It is the right of assigned authority to accept or reject the application form. If he/she rejects the application, will mention the “cause of rejection.”</li>
                                <li>After acceptance of application, CMO/CMS will further process the application after receiving of letter and required document from department of employee.</li>
                                <li>After inspection of letter and document, CMO/CMS is authorized to accept or reject the application.</li>
                                <li>If application will be accepted for further process, Sanction amount will be mentioned by CMO/CMS.</li>
                                <li>After approval of amount, Computer Generated Certificate will be made available on the dashboard of applicants.</li>
                                <li>Applicants can also collect their computer generated certificate from the office of CMO/CMS.</li>
                            </ul>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group text-center">
                                <b>I have read and Understood all the Terms & Conditions regarding the applications Process.</b><br />
                                <br />
                                <b>
                                    <label>
                                        <input id="chkConfirm" name="chkConfirm" type="checkbox" />
                                        I Agree</label></b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <input name="btnProceed" value="Proceed" onclick="return proceedToRegistration();" disabled="disabled" id="btnProceed" class="btn btn-warning btn-block btn-lg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#chkConfirm').click(function () {

            if ($(this).is(':checked')) {
                $('#btnProceed').removeAttr('disabled');
            } else {
                $('#btnProceed').attr('disabled', 'disabled');
            }
        });
    });

    function proceedToRegistration() {

        if ($('#chkConfirm').is(':checked')) {
            var url = '@Url.Action("MERRegistration", "MER")';
            window.location.href = url;
        } else {
            swal("", "First select Agree, Then Proceed To Registration !", "warning");
            return false;
        }
    }

</script>
