@{
    ViewBag.Title = "RegistrationConfirmation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="content-title">
    <h3 class="main-title">Registration Confirmation
    </h3>
</div>
<div id="content" class="dashboard padding-20 margin-bottom-50">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <i class="fa fa-check-circle fa-3x text-success"></i>
                    </div>
                    <div class="col-md-12">
                        <h3 class="text-center">Your Application for Payment of Unsuccessful Family Planning has been saved successfully.  
                            <br /> 
                            Your Application Number is  <strong class="text-success">@ViewBag.FAPRegistrationNo</strong>, use this application number for future references. Read the below instructions for further Process. </h3>
                    </div>
                     <div class="col-md-6 text-center">
                        <hr />
                        <a href="@Url.Action("FAPAffidavateReport", "FAP", new { regisId=@ViewBag.FAPRegisId})" class="btn btn-success" target="_blank">Generate Affidavit</a>
                    </div>
                     <div class="col-md-6 text-center">
                        <hr />
                        <a href="@Url.Action("isRegister", "FAP")" class="btn btn-success">Next Step</a>
                    </div>

                    @*<div class="col-md-12 text-center">
                        <hr />
                        <a href="@Url.Action("FAPAffidavateReport", "FAP", new { regisId=@ViewBag.FAPRegisId})" class="btn btn-success" target="_blank">Generate Affidavit</a>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
     <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 page-instraction">
                        <ul>
                            <li>Your Application form is still <strong>incomplete;</strong>  kindly generate the affidavit by clicking on “Generate Affidavit” button and get it <strong> Notarized.</strong> Upload the stamped affidavit and click on “Submit” button. </li>
                            <li>After successful submission of your application form, it will be forwarded to the concerned Chief Medical Officer. You can check the status update by re-login into the dashboard.</li>
                            <li>Once the Committee meeting is fixed, you need to physically present at the time of Inspection process with the Committee members. You will be notified by CMO about the Inspection date and other details through SMS notification or you can check the same at your Application status on dashboard.</li>
                            <li>Once your Application form is approved by CMO, you can download the Certificate from the Dashboard. Else, Contact the Office of Chief Medical Officer.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
